[submodule "maxima-code"]
	path = maxima-code
	url = https://git.code.sf.net/p/maxima/code
[submodule "emsdk"]
	path = emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "ecl"]
	path = ecl
	url = https://gitlab.com/embeddable-common-lisp/ecl.git
